/** color **/
:root {
  --main: #050A1B;
  --accent: #35A6BD;
  --black: #03081A;
  --white: #E6F0F2;
  --gray: #A1A5B2;
}

/** typography **/
:root {
  --title-large: normal 700 50px/1.3 var(--font-jura);
  --title-small: normal 700 40px/1.3 var(--font-jura);
  --label-bold-large: normal 700 25px/1.2 var(--font-jura);
  --label-bold-small: normal 700 20px/1.2 var(--font-jura);
  --label-large: normal 400 25px/1.2 var(--font-jura);
  --label-small: normal 400 20px/1.2 var(--font-jura);
  --body-large: normal 400 16px/1.5 var(--font-jura);
  --body-small: normal 400 12px/1.5 var(--font-jura);
}

body {
  font: var(--body-large);
  color: var(--white);
  background-color: var(--main);
}
